.contenedor{
    width: 90%;
    margin-left: 5%;
    background-color: burlywood;
}
.papuindice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}
.tit{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}
.resulfacha{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 1px;
    border-style: solid;
}
.botonson{
    width: 100%;
    background-color: crimson;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
}
.formu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    background-color: crimson;
}
.fila{
    padding-top: 2em;
}
