.contenedor{
    width: 90%;
    margin-left: 5%;
    background-color: burlywood;
}
.papuindice{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2em;
}
.tit{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
}